<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_M2eBasePrice>
            <version>1.0.0.0</version>
        </MageProfis_M2eBasePrice>
    </modules>
    <global>
        <blocks>
            <m2ebaseprice>
                <class>MageProfis_M2eBasePrice_Block</class>
            </m2ebaseprice>
        </blocks>
        <helpers>
            <m2ebaseprice>
                <class>MageProfis_M2eBasePrice_Helper</class>
            </m2ebaseprice>
        </helpers>
        <models>
            <m2ebaseprice>
                <class>MageProfis_M2eBasePrice_Model</class>
            </m2ebaseprice>
        </models>
        <resources>
            <m2ebaseprice_setup>
                <setup>
                    <module>MageProfis_M2eBasePrice</module>
                    <class>MageProfis_M2eBasePrice_Model_Resource_Setup</class>
                </setup>
            </m2ebaseprice_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <m2ebaseprice_set_m2e_baseprice>
                        <type>model</type>
                        <class>m2ebaseprice/observer_baseprice</class>
                        <method>setM2eBasePrices</method>
                    </m2ebaseprice_set_m2e_baseprice>
                </observers>
            </catalog_product_prepare_save>
            
            <catalog_product_save_before>
                <observers>
                    <m2ebaseprice_set_m2e_baseprice>
                        <type>model</type>
                        <class>m2ebaseprice/observer_baseprice</class>
                        <method>setM2eBasePrices</method>
                    </m2ebaseprice_set_m2e_baseprice>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
</config>
